<div class=header>
<h1>Khana Khazana!!</h1>
<img src="/assets/img/Khana.jpg" id = "khanaimg">
</div>

<div class =Foods>
  <h2>Khanas!</h2>
<ol>
  {{#each khana}}
  {{#unless devoured}}
    <li id={{id}}> <p>Khana: {{khana_name}}</p> </li> 
    <button class="devour" data-id={{id}}> DEVOUR!</button>
    <div class="form-group">
    <label for="ca">Khana:</label>
    <input type="text" id="customer" name="customer">
  </div>
    {{/unless}}
  {{/each}}
</ol>

<div class = DevouredFood>
<h2>Devoured Khana!!</h2>

<ol>
  {{#each khana}}
  {{#if devoured}}
    <li id={{id}}> <p>Khana: {{khana_name}} Devoured by</p>
    </li>
      <button class="savor" data-id={{id}}> Savor it?</button>
    {{/if}}
  {{/each}}
</ol>
</div>




<div class = AddFood>
<h2>Add a Khana(Indian/Pakistani Food)</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Khana:</label>
    <input type="text" id="khana" name="khana">
  </div>

  <button type="submit">Add a Khana</button>
</form>
</div>

<!-- Write your comments here 
<ol>
  <h1>Here</h1>
  {{#each customer}}
    {{customer_name}}

  {{/each}}
</ol>
 -->